// FONTS
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

// COLORS
$color-body: #1B1937;
$color-bg: #0A0C1C;
$color-special: #AB5CDB;
$color-text: #FFFFFF;

// MEASURES
$content-width: 1110px;

// DEVICES
$desktop-width: 1200px;
